
*.html
*.download
*.css
GodotVersions/Godot_v4.0.3-stable_mono_win64/Godot_v4.0.3-stable_mono_win64.exe
GodotVersions/Godot_v4.0.3-stable_mono_win64/Godot_v4.0.3-stable_mono_win64_console.exe
XanTestProjects/testcs/OUTPUT/testcs.zip
XanTestProjects/testcs/OUTPUT/testcs.exe
XanTestProjects/TestProj/.mono/temp/bin/Debug/EOSSDK
